.LastPrice {
  font-size: 60px;
  font-weight: 700;
}
.ChartBackground {
  background: white;
  padding: 10px;
}
.ButtonsHolder {
  display: flex;
  justify-content: center;
  align-items: space-between;
}
.Buttons {
  justify-content: space-between;
}
