.BigHeading {
  font-size: 30px;
  font-style: italic;
  color: #333ffe
}
.NewsTitle {
  font-size: 12px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}
.NewsDate {
  font-size: 8px;
  color: #777;
  margin-right: 10px;
}
.NewsTitle a:link, .InfoSections a:link {
  text-decoration: underline;
}
.InfoHeading{
  font-size: 16px;
  color: #333ffe
}
.InfoSections{
  font-size: 11px;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
