body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.primary-bg {
  background: #333;
}
.primary-text {
  color: #333;
}
.black-bg {
  background: #131313;
}
.h5 {
  font-size: 16px !important;
}
a,
a:hover,
a:visited {
  text-decoration: none;
  color: black;
}
.company-logo {
  height: 25px;
  margin-right: 10px;
}
.btn {
  margin: 0 2%;
}
.logo {
  font-family: "Fugaz One", cursive;
  color: white;
}
